.planet {
    margin: 32px 0;
}

.infoContainer {
    width: 100vw;
    height: 100vh;
    overflow-x: auto;
}

.linkContainer {
    padding: 8px 0;
}

.container {
    max-width: 968px;
    padding-top: 70px;
    margin: auto;
    .center {
        text-align: center;
        margin: 0;
    }
    &:last-of-type {
        padding-bottom: 10vh;
    }

    div a.readMore {
        color: #ccc;
        transition: all 0.4s;
        &:hover {
            color: #fff;
        }
    }
    @media (min-width: 800px) {
        padding-top: 20vh;
    }
}