.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 24px;
}

.findMe {
    letter-spacing: 0.5em !important;
    margin-right: -0.5em !important;
    display: block;
    padding-bottom: 4px !important;
}

.links li {
    display: block;
    width: 40px;
    aspect-ratio: 1/1;
    height: auto;
}

.links li a {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 32px;
    opacity: 75%;
    transition: transform 0.4s, opacity 0.4s;
}

.links li a img {
    margin: auto;
}

.links li a:hover {
    opacity: 100%;
    transform: scale(1.2);
}

form.contact {
    width: 100%;
    max-width: 398px;
}

form.contact input,
form.contact select,
form.contact textarea,
form.contact button {
    font-size: 1.6rem;
    width: 100%;
    margin: 8px 0 16px 0;
    padding: 4px 8px;
    box-sizing: border-box;
    background: none;
    color: #fff;
    border: solid 2px #fff;
    border-radius: 4px;
}

form.contact,
form.contact button {
    font-size: 2.2rem;
}

form.contact textarea {
    height: 192px;
}