:root {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html, body {
  color: #fff;
  height: 100%;
  background: #0D0620;
  padding: 0;
  margin: 0;
  min-width: 280px;
  width: 100vw;
}
main {
  width: 100vw;
}

img {
  pointer-events: none;
}

h1, h2, h3, h4, p, button {
  padding: 0;
  margin: 0;
  color: #fff;
  font-weight: 400;
  font-style: normal;
}

button {
  background: none;
  border: 4px solid #fff;
  border-radius: 4px;
  text-transform: uppercase;
}

details summary {
  cursor: pointer;
}

.page {
  margin-top: 60px;
}

#nav {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 900;
}
#nav > * {
  pointer-events: auto;
  z-index: 999;
}

.nav_bar {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(13, 6, 32, 0.2);
  backdrop-filter: blur(4px);
  z-index: 999;
}

#hamburger {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 24px;
  padding: 32px 24px;
  cursor: pointer;
  z-index: 9999;
}
#hamburger span {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  width: 100%;
  transition: all .4s;
}
#hamburger span::after, #hamburger span::before {
  content: '';
  background: #fff;
  display: block;
  height: 2px;
  position: absolute;
  width: 100%;
}
#hamburger span::before {
  top: -8px;
}
#hamburger span::after {
  top: 8px;
}
#side_menu_checkbox {
  display: none;
}
#nav nav {
  position: fixed;
  height: 100%;
  width: 80vw;
  top: 0;
  right: -100%;
  z-index: 999;
  transition: ease .4s;
}
nav ul {
  height: 100%;
  list-style: none;
  background: rgba(13, 6, 32, 0.8);
  backdrop-filter: blur(4px);
  box-sizing: border-box;
  padding: 60px 0 0 0;
  width: 100%;
  margin: 0;
}

#nav ul li {
  box-sizing: border-box;
  display: block;
  width: 100%;
  text-align: center;
}

#nav nav .logo,
#nav ul a {
  font-size: 2.2rem;
  text-transform: uppercase;
  padding: 16px 24px;
  color: white;
  text-decoration: none;
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
}
#nav nav .logo {
  position: fixed;
  top: 0;
  left: 0;
}
#nav nav .logo span {
  display: none;
}

#nav nav .logo,
a {
  transition: letter-spacing 0.4s;
  letter-spacing: .25em;
}
a:hover {
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.75);
  letter-spacing: .5em;
}

small {
  font-size: 1.2rem;
}

footer {
  position: relative;
  top: -48px;
  text-align: center;
  padding: 16px;
  z-index: 999;
}

#side_menu_checkbox:checked ~ nav,
#nav nav:focus-within {
  display: block;
  right: 0;
}
#side_menu_checkbox:checked ~ #hamburger span {
  width: 0;
}
#side_menu_checkbox:checked ~ #hamburger span:before {
  width: 24px;
  transform: rotate(45deg) translateY(12px);
  transition: all .4s;
}
#side_menu_checkbox:checked ~ #hamburger span:after {
  width: 24px;
  transform: rotate(-45deg) translateY(-12px);
  transition: all .4s;
}

.home_section .animationContainer {
  width: 100%;
  aspect-ratio: 1/1;
  height: auto;
}

.sections {
  display: flex;
  flex-direction: column;
  gap: clamp(64px,20vh,128px);
}

.sections section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  min-height: 100vh;
  height: auto;
  background: none;
  overflow-y:visible;
  scroll-margin-top: 60px;
}
.sections section:last-of-type {
  padding-bottom: 48px;
}

.sections section.project,
.sections section#hero {
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 680px;
  width: 100%;
  display: block;
}

.sections section#hero .logo-container {
  position: relative;
  background: linear-gradient(180deg, #270039 0%, #231A5B 100%);
  width: 100%;
  height: 60%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.sections section#hero .logo-container.full { height: 100%; }
.sections section#hero .logo-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.sections section#hero .logo-container .stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sections section#hero .logo-container .moon {
  width: 13.8rem;
  aspect-ratio: 1/1;
  margin: auto;
  padding-top: 32px;
  shape-rendering: geometricPrecision;
  transition: all 0.4s;
}

.sections section#hero .logo-container .moon.low {
  position: absolute;
  bottom: 0;
  transform: translateY(64px);
}

.sections section#hero .logo-container h1 {
  margin: auto;
  padding: 14vh 44px 0 44px;
}

.sections section#hero .logo-container h3 {
  padding-top: 8px;
  letter-spacing: .2em;
  transition: letter-spacing 0.4s;
}

.sections section#hero.home .logo-container h3 {
  letter-spacing: .05em;
}

.sections section#hero .logo-container .requireJS {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: linear-gradient(180deg, rgba(13, 6, 32, 1), rgba(13, 6, 32, 0.35));
  /* backdrop-filter: blur(4px); */
}

.sections section#hero .logo-container .requireJS h3 {
  font-weight: 600;
}

.sections section#hero .logo-container .heroContent { width: 100%; }
.sections section#hero .logo-container .heroContent.full { height: 100%; }

.sections section#hero .dive_deeper {
  background: linear-gradient(180deg, #1A0F38 0%, #0D0620 100%);
  height: 40%;
  text-align: center;
}
.sections section#hero .dive_deeper img,
.sections section#hero .dive_deeper svg {
  position: relative;
  top: -1px;
}
.sections section#hero .dive_deeper a {
  text-decoration: none;
}
.sections section#hero .dive_deeper h3 {
  position: relative;
  margin-top: -64px;
  padding: 7px 0 9px 0;
}

.sections section#hero .back_link {
  /* position: absolute;
  top: 76px;
  left: 48px; */
  float: left;
  width: 100%;
  text-decoration: none;
}
.sections section#hero .back_link h4 {
  /* text-align: left;
  margin-left: 32px; */
  margin: 16px 0;
}

.sections section .content {
  width: 100%;
  max-width: 392px;
  box-sizing: border-box;
  margin: auto;
}

.sections section div.container {
  height: 100%;
  width: 100%;
  margin: auto;
}

.sections section div.container button {
  width: 100%;
  padding: 4px;
  font-size: clamp(1.6rem, 100vw, 2.2rem);
  margin: auto;
  margin-top: 3.2rem;
}

#page_nav {
  position: fixed;
  height: 100%;
  width: 48px;
  top: 0;
  left: 0;
  background: none;
  display: flex;
}

#page_nav div {
  background-color: #fff;
  width: 24px;
  margin: auto;
  margin-left: 12px;
  background: rgba(13, 6, 32, 0.5);
  backdrop-filter: blur(4px);
  z-index: 900;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  gap: 24px;
}

#page_nav div a {
  content: '';
  display: block;
  background-color: #fff;
  opacity: 0.5;
  width: 12px;
  aspect-ratio: 1/1;
  margin: 8px 0;
  border-radius: 100%;
  transition: opacity .4s;
}
#page_nav div a:hover,
#page_nav div a.current {
  opacity: 1;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: clamp(3rem, 60vw, 4.8rem);
  line-height: 100%;
  font-weight: 400;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: clamp(2.4rem, 70vw, 4.8rem);
  font-weight: 200;
  padding-top: 2rem;
  line-height: 100%;
}

h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: clamp(1.6rem, 60vw, 2.2rem);
  font-weight: 400;
  padding-top: 8px;
}
h4 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
}
p {
  width: 100%;
  padding-top: 32px;
  font-size: clamp(1.6rem, 80vw, 2.2rem);
}

.sections section {
  margin: 20px 44px 0;
}

.sections section h3 {
  padding: 0;
  margin: 0;
}
.sections section h3 a {
  /* margin-top: 32px; */
  border: 4px solid #fff;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.sections section::last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
}

@media (min-width: 480px) {
  .sections section#hero .logo-container h3 {
    letter-spacing: .25em;
  }
}

@media (min-width: 800px) {
  #hamburger {
    display: none;
  }
  /* .nav_bar {display: none;} */
  #side_menu_checkbox:checked ~ nav,
  #nav nav {
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
    /* margin-top: -100%; */
    width: 100%;
    height: 60px;
    transition: none;
  }
  #nav nav ul {
    position: absolute;
    background: none;
    backdrop-filter: none;
    position: absolute;
    top: 0;
    height: 60px;
    width: 100%;
    transition: inherit;
    display: flex;
    justify-content: flex-end;
    padding: 0 32px 0 0;
    margin: 0;
  }
  #nav nav ul li {
    height: 100%;
    width: auto;
    display: inline-block;
    margin-right: 5vw;
  }
  
  #nav nav .logo {
    display: flex;
    align-items: center;
    position: relative;
  }
  #nav nav .logo,
  #nav nav ul a {
    font-size: 1.6rem;
    line-height: 1.6rem;
    height: 100%;
    width: auto;
  }
  #nav nav ul a {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
  }
  #nav a:hover {
    letter-spacing: .35em;
  }
  .sections section#hero .logo-container h1 {
    width: 100%;
    padding: 62px 0 0 0;
    margin: 0;
    text-align: center;
  }
  .sections section.home#hero .logo-container h3 {
    width: 100%;
    text-align: center;
    letter-spacing: 0.6em;
    padding: 8px 0 0 0;
    margin: 0;
  }
  .sections section#hero .logo-container .moon {
    width: 19.2rem;
    height: 19.2rem;
  }
}

@media (min-width: 1000px) {
  #page_nav .hideDesktop {
    display: none;
  }
  #nav nav .logo span {
    display: inherit;
    padding-right: 8px;
  }

  .sections section { scroll-margin-top: 0; }

  .sections section .content {
    max-width: none;
    padding: 32px 10%;
    column-gap: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    transition: column-gap 0.4s;
  }

  .sections section:nth-child(even) .content * {
    width: 100%;
    max-width: 600px;
    grid-column: 1;
  }
  .sections section .content noscript,
  .sections section .content img {
    width: 100%;
    aspect-ratio: 1/1;
    height: auto;
  }
  .sections section .content .animationContainer {
    display: flex;
    align-items: center;
  }
  .sections section:nth-child(even) .content .animationContainer {
    width: 100%;
    grid-column: 2;
    grid-row: 1 / span 999;
  }

  .sections section:nth-child(odd) .content * {
    width: 100%;
    grid-column: 2;
  }
  .sections section:nth-child(odd) .content .animationContainer {
    width: 100%;
    grid-column: 1;
    grid-row: 1 / span 999;
  }

  div.sections.projects {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
        "hero hero"
        ". .";
  }
  div.sections.projects #hero {
    grid-area: hero;
  }
}

@media (min-width: 1920px) {
  .sections section .content {
    column-gap: 20%;
  }
}