:root {
  font-size: 62.5%;
}

html, body {
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Quicksand', sans-serif; */
  color: #fff;
  height: 100%;
  background: #0D0620;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

h1, h2, h3, p, button {
  padding: 0;
  margin: 0;
  /* font-family: 'Quicksand', sans-serif; */
  color: #fff;
}

button {
  background: none;
  border: 4px solid #fff;
  text-transform: uppercase;
  border-radius: 4px;
}

#nav {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.nav_bar {
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0;
  left: 0;
  background: rgba(13, 6, 32, 0.2);
  backdrop-filter: blur(4px);
  z-index: 900;
}

#hamburger {
  position: fixed;
  /* float: right; */
  top: 0;
  right: 0;
  content: "";
  width: 24px;
  padding: 32px 24px;
  cursor: pointer;
  z-index: 9999;
}
#hamburger span {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  width: 100%;
  transition: all .4s;
  /* transition: transform 0.4s; */
}
#hamburger span::after, #hamburger span::before {
  content: '';
  background: #fff;
  display: block;
  height: 2px;
  position: absolute;
  width: 100%;
}
#hamburger span::before {
  top: -8px;
}
#hamburger span::after {
  top: 8px;
}
#side_menu_checkbox {
  display: none;
}
#nav nav {
  /* display: none; */
  position: fixed;
  height: 100%;
  width: 80vw;
  top: 0;
  right: -100%;
  z-index: 901;
  transition: ease .4s;
}
nav ul {
  height: 100%;
  list-style: none;
  background: rgba(13, 6, 32, 0.8);
  backdrop-filter: blur(4px);
  box-sizing: border-box;
  padding: 60px 0 0 0;
}

#nav ul li {
  font-size: 2.2rem;
  text-transform: uppercase;
  padding: 16px 24px;
  text-align: center;
}

#nav ul a {
  color: white;
  text-decoration: none;
}
#side_menu_checkbox:checked ~ nav,
#nav nav:focus-within {
  display: block;
  right: 0;
}
#side_menu_checkbox:checked ~ #hamburger span {
  width: 0;
}
#side_menu_checkbox:checked ~ #hamburger span:before {
  width: 24px;
  transform: rotate(45deg) translateY(12px);
  transition: all .4s;
}
#side_menu_checkbox:checked ~ #hamburger span:after {
  width: 24px;
  transform: rotate(-45deg) translateY(-12px);
  transition: all .4s;
}

.sections section {
  scroll-snap-align: start;
  min-height: 80rem;
  height: 100vh;
  background: none;
  /* margin-top: 3.6rem; */
  padding: 17.5% 0;
  /* box-sizing: border-box; */
}

.sections section:last-of-type {
  padding-bottom: 0;
  min-height: auto;
}

.sections section#hero {
  margin: 0;
  padding: 0;
}

.sections section#hero .logo-container {
  background: linear-gradient(180deg, #270039 0%, #231A5B 100%);
  /* max-width: 81.6rem; */
  height: 60%;
  margin: auto;
  text-align: center;
}

.sections section#hero .logo-container img {
  width: 13.8rem;
  aspect-ratio: 1/1;
  margin: auto;
  padding-top: 32px;
  shape-rendering: geometricPrecision;
}

.sections section#hero .dive_deeper {
  background: linear-gradient(180deg, #1A0F38 0%, #0D0620 100%);
  height: 40%;
  text-align: center;
}
.sections section#hero .dive_deeper img {
  position: relative;
  top: -1px;
}
.sections section#hero .dive_deeper a {
  text-decoration: none;
}
.sections section#hero .dive_deeper h3 {
  position: relative;
  padding: 7px 0 9px 0;
}

.sections section div.container {
  height: 100%;
  width: 100%;
  margin: auto;
}

.sections section div.container button {
  /* height: 100%; */
  width: 100%;
  padding: 4px;
  font-size: clamp(1.6rem, 100vw, 2.2rem);
  margin: auto;
  margin-top: 3.2rem;
}

.page_nav {
  position: fixed;
  height: 100%;
  width: 40px;
  top: 0;
  left: 0;
  background: none;
  display: flex;
}

.page_nav div {
  background-color: #fff;
  height: 183px;
  width: 24px;
  margin: auto;
  margin-left: 16px;
  background: rgba(13, 6, 32, 0.2);
  backdrop-filter: blur(4px);
  z-index: 900;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: clamp(3rem, 60vw, 5.6rem);
  line-height: 100%;
  padding-top: 30vw;
  font-weight: 400;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: clamp(2.4rem, 70vw, 4.8rem);
  font-weight: 200;
  padding-top: 2rem;
}

h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: clamp(1.6rem, 60vw, 2.2rem);
  font-weight: 400;
  padding-top: 8px;
}
p {
  width: 100%;
  padding-top: 32px;
  font-size: clamp(1.6rem, 80vw, 2.2rem);
}

.sections section {
  margin: 0 44px;
}

.sections section::last-of-type {
  margin-bottom: 0;
}